<!-- Navigation Bar for all pages -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <i class="bi bi-diagram-3-fill me-2"></i>Founder Network AI
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">
                        <i class="bi bi-bullseye"></i> Goal Matcher
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('crm_dashboard') }}">
                        <i class="bi bi-speedometer2"></i> CRM Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('analytics_dashboard') }}">
                        <i class="bi bi-graph-up"></i> Analytics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('network_visualization') }}">
                        <i class="bi bi-diagram-3"></i> Network Map
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('import_contacts') }}">
                        <i class="bi bi-upload"></i> Import Contacts
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>